/*{
    background-image: url(image/bg1.jpg);
    margin: 0;
    padding: 0;
}*/

#profilepic{
    border: 10px solid black;
    border-radius: 200px;
    height: 200px;
    width: 13%;
}
.fambo{
    background-color:background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ;
    height: 30px;
}
.lambo{
    letter-spacing: 2px;
    background-color:background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ;
    height: 30px;
    
}
.lopoo{
    border:3px solid rgb(255, 0, 98);
    border-radius: 15px;
    color: red;
    background-color: mediumaquamarine;
    height: 330px;
    margin: 10px;
    padding: 30px 30px;
    width: 25%;
    display: inline-block;
    font-family: 'Yellowtail', cursive;
}
.picture{
    height: 80px;
    width: 50;
    display: block;
    margin: auto;
}
.hello{
    text-align: center;
    color: mediumblue;
    font-style: normal;
}